NEXT_PUBLIC_API_URL=https://crossbench-api.fly.dev
NEXT_PUBLIC_CONTRACT_ADDRESS=0x2352A0cBF175F1e69eBc8364A35301570378FF22
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_APP_URL=https://crossbench-app.vercel.app
